{% extends 'partials/base.html.twig' %}

{% block content %}

  <div class="frontpage">

    {% block card %}

      <div class="card wrap row" data-equalizer="card" data-equalize-on="large">
        {% if page.header.logo %}
          <div class="logo-container small-12 large-4 columns large-push-8" >
            <div class="logo" data-equalizer-watch="card" >
              <img src="/{{ page.slug }}/{{ page.header.logo }}" alt="{{ page.title ~ ' logo' }}" />
            </div>
          </div>
        {% endif %}
        <div class="content {{ page.header.logo ? 'small-12 large-8 large-pull-4' : 'small-12' }} columns" data-equalizer-watch="card" >
          {% if page.header.title %}
            <div class="header">
              {{ page.header.title }}
            </div>
          {% endif %}
          {% if page.header.motto %}
            <div class="motto">
              {{ page.header.motto }}
            </div>
          {% endif %}
        </div>
      </div>

    {% endblock card %}

    {% block featured %}

      {% if page.collection('featured')|length > 0 %}
        <div class="book-page wrap">

          {% block information %}

            <div class="information row collapse" >
              {% for p in page.collection('featured')|slice(0,1) %}
                <div class="cover small-12 large-3 columns">
                  <img src="/{{ p.slug }}/{{ p.header.cover.image }}" alt="{{ p.title ~ ' cover' }}" />
                </div>
                <div class="content small-12 large-9 columns">
                  <a href="{{ p.header.buylink }}" target="_blank">
                    <div class="buylink">
                      {{ p.header.price ? p.header.price : 'Buy Now' }}
                    </div>
                  </a>
                  <p class="header">{{ p.title }}</p>
                  <p class="author"><span>by</span> {{ p.header.author }}</p>
                  <div class="summary">{{ ((p.header.summary|truncate(1000,true)) ~ '...')|markdown }}</div>
                  <div class="readmore"><a href="/{{ p.slug }}" target="_blank">Read More >></a></div>
                </div>
              {% endfor %}
            </div>

          {% endblock information %}

          <div class="divider">
          </div>

          {% block reviews %}

            <div class="reviews row" data-equalizer="reviews">
              {% if page.collection('featured')|length > 0 %}
                {% for p in page.collection('featured')|slice(0,1) %}
                  {% set columns %}
                    {{ p.header.reviews|length < 3 and p.header.reviews|length > 0 ? 'large-' ~ ( 12 / p.header.reviews|length ) : 'large-4' }}
                  {% endset %}
                    {% for review in p.header.reviews|slice(0,3) %}
                      <div class="panel {{ columns }} small-12 columns" data-equalizer-watch="reviews">
                        <div class="content">
                          <div class="review">
                            {{review.review|length < 400 ? ('<i class="fa fa-quote-left fa-3x" aria-hidden="true" style="float:left;margin-right:0.5rem;line-height:1;"></i>' ~ review.review)|markdown : (('<i class="fa fa-quote-left fa-3x" aria-hidden="true" style="float:left;margin-right:0.5rem;line-height:1;"></i>' ~ review.review)|truncate(400,true) ~ '<a href="' ~ p.slug ~ '" class="readmore">...</a>')|markdown}}
                          </div>
                          <p class="reviewer">
                            — {{ review.reviewer }}
                          </p>
                        </div>
                      </div>
                    {% endfor %}
                {% endfor %}
              {% endif %}
            </div>

          {% endblock reviews %}

        </div>
      {% endif %}

    {% endblock featured %}

  </div>

{% endblock content %}
